
.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px 0;
    width: 250px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    position: relative;
    margin-top: 30px;
    z-index: 20; /* Coloca o player no topo */
}


.musica-info {
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}


.botao-play {
    background-color: #FF6F61;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.botao-play:hover {
    background-color: #FF5733;
}


.fa-play, .fa-pause {
    color: white;
    font-size: 18px;
}


.botao-play:focus {
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.7);
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    height: 100%;
}


.container {
    max-width: 320px;
    width: 90%;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
}


.nome-casal {
    font-size: 24px;
    margin-bottom: 20px;
}


.carousel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.imagem-casal {
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
}

.imagem-casal.active {
    opacity: 1;
    position: relative;
}


.tempo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.linha-branca {
    width: 80%;
    margin: 20px auto;
    height: 2px;
    background-color: white;
}

.mensagem {
    font-size: 16px;
    margin-top: 10px;
}


.rosa {
    position: absolute;
    bottom: 100%;
    width: 50px;
    height: auto;
    opacity: 0;
    animation: cair 8s infinite ease-in;
    z-index: 10; /* Coloca as rosas acima do conteúdo, mas abaixo do player */
}


@keyframes cair {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(100vh) rotate(360deg);
    }
}
